body {
    font-family: Arial;
    background-color: #f4f6f8;
    margin: 0;
}

nav {
    background-color: #2c6ed5;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.container {
    width: 80%;
    margin: 40px auto;
    background: white;
    padding: 20px;
}
