body {
    font-family: Arial;
    background: skyblue;
    margin: 0;
}

/* Navbar */
.navbar {
    background: pink;
    padding: 12px;
}

.navbar a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Container */
.container {
    width: 80%;
    margin: auto;
    background: white;
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

h1, h2, h3 {
    color: black;
    text-align: center;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background: pink;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
}

/* Forms */
input, select, button {
    padding: 10px;
    margin: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: calc(100% - 22px);
}

button {
    background: pink;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

button:hover {
    opacity: 0.9;
}

/* Login Box */
.login-box {
    width: 400px;
    background: white;
    margin: 80px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    text-align: center;
}

.login-box h2 {
    color: #2c6ed5;
}

.input-box {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.btn {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 6px;
    border: none;
    background: pink;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.note {
    color: gray;
    font-size: 13px;
}

/* Home Page Design */
.hero {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.hero img {
    width: 380px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.hero-text {
    max-width: 400px;
}

.hero-text h2 {
    color: #2c6ed5;
}

.hero-text p {
    font-size: 16px;
    color: black;
}

.container-box {
    margin-top: 60px;
    background: white;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo-box {
    border: 1px solid #ddd;
    padding: 25px;
    border-radius: 15px;
    display: inline-block;
    background: blueviolet;
}

.subtitle {
    color: #555;
    margin-bottom: 25px;
}

.btn-appoint {
    margin-top: 25px;
}

/* List View */
#listView p {
    padding: 10px;
    background: #f9f9f9;
    margin: 5px 0;
    border-radius: 5px;
    border-left: 4px solid pink;
}
